.book {
  display: flex;
  flex-direction: column;
  /* width: 35%; */
  /* min-width: 250px; */
  flex-basis: 300px;
  align-items: stretch;
  font-size: 30px;
  margin: 20px;
  background-color: #F8925C;
}

.book .bookCover {
  width: 100%;
}

.book .bookTitle {
  text-align: center;
}

.book .bookAppreciation{
  padding: 2px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.book .bookAppreciation .bookLikeButton {
  width: 25px;
}